    <%- include('partials/_header') %>
  <main style="margin: 1em;"></main>
  <h1>Login:</h1>
  <form method="POST" action="/login">
    <p><input type="email" name="email" placeholder="email"></p>
    <p><input type="password" name="password" placeholder="password"></p>
    <p><button>Submit</button></p>
  </form>
</body>
</html>